/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    /* display: flex; */
}

/* picture frame resize */
.thumbnail-item{
    /* control image size */
    width:  150px;
    height: 30%;
    margin-bottom: 20px;
    
    /* text align can be an alternative to flex box for img/text */
    text-align: center;

}

.thumbnail-item > img {
    /* img will adapt to parent */
    /* pick width or height not both (preserves aspect ratio)*/
    max-height: 100%;
    max-width: 100%;

}

.thumbnail-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galleryView {
    width: 90%;
    margin: 0 auto;
    text-align: center;

}

.galleryView > img {
    max-width: 100%;
    max-height: 100%;
}


.modal {
/* cover existing page with large pic,
pair with an opaque grey background,
make sure contents are centered */
position: absolute;
left:0;
right:0;
top:0;

width:100%;
height:100%;

background-color: rgba(0, 0, 0, 0.6);
display: flex;
justify-content: center;
align-items: center;
}

.modal-hidden{
    display: none;

}